 # ignore IDE configuration files
.idea
*.iml

 # ignore dependencies
/lib

 # ignore compiled output but not the final jar
 # production folder excluded since it only contains .class output
/out/production